<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>git_test</title>
  <meta name="description" content="">

  <%- include('parts/_head-element') %>
  
</head>

<body class="page-index">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="page-visual">
        <div class="page-visual__inner">
          <div class="page-visual__heading page-visual__heading--left">
            <h2 class="page-visual-heading">archive</h2>
          </div>
        </div>
      </div><!-- /.page-visual -->

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner content__inner--column-left">
              <div class="content__box">
                
                <ul class="page-link">
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--file" href="archive_bem-template.html">BEM Template</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--file" href="archive_js-library.html">JS Library</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--file" href="archive_js-weather.html">JS Wather</a>
                  </li>
                </ul><!-- /.page-link -->

              </div>
            </div>
          </artcile><!-- /.content -->
  
        </div>
      </div><!-- /.container -->

    </main>

    <%- include('parts/_sidebar') %>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <%- include('parts/_body-bottom') %>

</body>

</html>