<!DOCTYPE html>
<html lang="ja">
<%- include('parts/_head') %>

<body class="page-index">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="page-visual">
        <div class="page-visual__inner">
          <div class="page-visual__heading page-visual__heading--left">
            <h2 class="page-visual-heading">note</h2>
          </div>
        </div>
      </div><!-- /.page-visual -->

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner content__inner--column-left">
              <div class="content__box">
                
                <ul class="page-link">
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_book_html-css_1.html">【書籍】1冊ですべて身につくHTML & CSSとWebデザイン入門講座</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_book_html-css_2.html">【書籍】ほんの一手間で劇的に変わるHTML & CSSとWebデザイン実践講座</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_book_css-design.html">【書籍】CSS設計完全ガイド 詳細解説＋実践的モジュール集</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_book_javascript_1.html">【書籍】確かな力が身につくJavaScript「超」入門</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_book_wordpress_1.html">【書籍】WordPressレッスンブック 5.x対応版</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_book_wordpress_2.html">【書籍】ビジネスサイトを作って学ぶ WordPressの教科書 Ver.5.x対応版</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_progate_php1.html">【progate】PHPⅠ</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_gulp-memo.html">gulpメモ</a>
                  </li>
                  <li class="page-link__item">
                    <a class="page-link__link page-link__link--book" href="note_git-memo.html">Gitメモ</a>
                  </li>
                </ul><!-- /.page-link -->

              </div>
            </div>
          </artcile><!-- /.content -->
  
        </div>
      </div><!-- /.container -->

    </main>

    <%- include('parts/_sidebar') %>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <%- include('parts/_body-bottom') %>

</body>

</html>