<!DOCTYPE html>
<html lang="ja">
<%- include('parts/_head') %>

<body class="note">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner content__inner--column-left">
              <div class="content__box">
                
                <p class="index index--title">Gitメモ</p>
                <div class="comment">
                  <p>
                    GitHub URL <a href="https://github.com/harumiharutaka/git_test.git" target="_blank">https://github.com/harumiharutaka/git_test.git</a>
                  </p>
                </div>

              </div>
            </div>
          </artcile><!-- /.content -->
  
        </div>
      </div><!-- /.container -->

    </main>

    <%- include('parts/_sidebar') %>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <%- include('parts/_body-bottom') %>

</body>

</html>