<!DOCTYPE html>
<html lang="ja">
<%- include('parts/_head') %>

<body class="note">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner content__inner--column-left">
              <div class="content__box">
                <p class="index index--title">WordPressレッスンブック 5.x対応版</p>
                <p class="index index--second">本書で作成するテーマ</p>
                <p class="index index--second">グーテンベルク</p>
                <p class="index index--second">本書の構成</p>
                <p class="index index--second">WordPress のバージョン</p>
                <p class="index index--second">対応ブラウザ</p>
                <p class="index index--second">ダウンロードデータ</p>
                <p class="index index--second">ローカルサーバー環境</p>
                <p class="index index--second">ページ構成</p>
                <p class="index index--first">1 SETUP 下準備</p>
                <p class="index index--second">STEP 1-1 作成するサイトの構造とWordPressの仕組み</p>
                <p class="index index--second">STEP 1-2 制作作業に使用するブラウザ</p>
                <p class="index index--second">STEP 1-3 WordPressのインストール</p>
                <p class="index index--second">STEP 1-4 基本設定</p>
                <p class="index index--third">COLUMN プラグインの管理</p>
                <p class="index index--second">STEP 1-5 オリジナルのテーマの準備</p>
                <p class="index index--third">COLUMN リカバリーモード</p>
                <p class="index index--first">2 POST 記事の投稿と表示</p>
                <p class="index index--second">STEP 2-1 グーテンベルクとは</p>
                <p class="index index--second">STEP 2-2 記事を投稿する</p>
                <p class="index index--second">STEP 2-3 記事ページにタイトルと本文を表示する</p>
                <p class="index index--third">COLUMN WordPressのテンプレートタグ</p>
                <p class="index index--third">COLUMN 記事のタイトルを出力する &lt;?php the_title(); ?&gt;</p>
                <p class="index index--third">COLUMN 記事の本文(ブロック) を出力する &lt;?php the_content(); ?&gt;</p>
                <p class="index index--third">COLUMN ループ</p>
                <p class="index index--second">STEP 2-4 ブロックのデザインをアレンジする</p>
                <p class="index index--second">STEP 2-5 WordPressで必須の設定を追加する</p>
                <p class="index index--second">STEP 2-6 記事の本文に画像を追加する</p>
                <p class="index index--third">COLUMN メディアライブラリで画像を管理する</p>
                <p class="index index--second">STEP 2-7 画像の配置をアレンジする</p>
                <p class="index index--third">COLUMN 「ビジュアルエディター」におけるブロックのHTMLとCSS</p>
                <p class="index index--third">COLUMN 空の段落ブロックが入るケース</p>
                <p class="index index--first">3 GUTENBERG グーテンベルクを機能させる</p>
                <p class="index index--second">STEP 3-1 グーテンベルクを機能させる</p>
                <p class="index index--second">STEP 3-2 フロントに適用するCSSをテーマ側で有効化する</p>
                <p class="index index--second">STEP 3-3 テーマ側で用意したCSSをフロントに読み込む</p>
                <p class="index index--second">STEP 3-4 テーマ側で用意したCSSに設定を追加する</p>
                <p class="index index--third">COLUMN グーテンベルクを機能させる設定が1つになっていない理由</p>
                <p class="index index--second">STEP 3-5 フォントの設定を行う</p>
                <p class="index index--third">COLUMN 追加CSSの機能を利用する</p>
                <p class="index index--second">STEP 3-6 フォントの設定をエディタに反映させる</p>
                <p class="index index--second">STEP 3-7 記事の横幅を指定する</p>
                <p class="index index--first">4 POST PAGE 記事ページを仕上げる</p>
                <p class="index index--second">STEP 4-1 記事ページを仕上げるための準備</p>
                <p class="index index--third">COLUMN 記事をインポートする</p>
                <p class="index index--second">STEP 4-2 記事の投稿日とカテゴリーを表示する</p>
                <p class="index index--third">COLUMN エスケープ処理について</p>
                <p class="index index--third">COLUMN 記事が属するカテゴリーを出力する &lt;?php the_category(); ?&gt;</p>
                <p class="index index--third">COLUMN 記事の投稿日を出力する get_the_date()</p>
                <p class="index index--second">STEP 4-3 前後の記事へのリンクを表示する</p>
                <p class="index index--second">STEP 4-4 アイコンを付けたデザインにする</p>
                <p class="index index--second">STEP 4-5 ヘッダーとフッターを表示する</p>
                <p class="index index--second">STEP 4-6 Webフォントを利用する</p>
                <p class="index index--third">COLUMN 疑似要素とフレキシブルボックス</p>
                <p class="index index--first">5 TOP PAGE トップページを作成する</p>
                <p class="index index--second">STEP 5-1 ヘッダーとフッターをテンプレートパーツにする</p>
                <p class="index index--third">COLUMN テンプレートパーツ</p>
                <p class="index index--second">STEP 5-2 トップページに記事のタイトルをリストアップする</p>
                <p class="index index--third">COLUMN テンプレートヒエラルキー (テンプレート階層)</p>
                <p class="index index--second">STEP 5-3 記事のサムネイル画像を表示する</p>
                <p class="index index--second">STEP 5-4 記事ページへのリンクを設定して2列に並べる</p>
                <p class="index index--second">STEP 5-5 ページネーションを表示する</p>
                <p class="index index--first">6 FULL AND WIDE 全幅・幅広の設定</p>
                <p class="index index--second">STEP 6-1 全幅・幅広の機能を有効化する</p>
                <p class="index index--second">STEP 6-2 フロントで全幅を機能させる</p>
                <p class="index index--third">COLUMN Windows環境のブラウザのスクロールバー</p>
                <p class="index index--second">STEP 6-3 フロントで幅広を機能させる</p>
                <p class="index index--third">COLUMN 全幅・幅広の設定方法について</p>
                <p class="index index--second">STEP 6-4 ヘッダーと記事一覧を幅広にする</p>
                <p class="index index--first">7 MENU メニュー</p>
                <p class="index index--second">STEP 7-1 メニューを表示する</p>
                <p class="index index--second">STEP 7-2 プロフィールを表示する</p>
                <p class="index index--third">COLUMN Gravatarを利用して画像を管理する</p>
                <p class="index index--second">STEP 7-3 メニューのデザインを指定する</p>
                <p class="index index--second">STEP 7-4 カテゴリーページと月別ページを作成する</p>
                <p class="index index--third">COLUMN 条件分岐タグ</p>
                <p class="index index--third">COLUMN ページレイアウトにおける横幅の設定</p>
                <p class="index index--first">8 PAGES 固定ページの作成</p>
                <p class="index index--second">STEP 8-1 アバウトページを作る</p>
                <p class="index index--second">STEP 8-2「高度な設定」でブロックの上下に余白を入れる</p>
                <p class="index index--second">STEP 8-3「お問い合わせ」ページを作る</p>
                <p class="index index--third">COLUMN お問い合わせを送信してみる</p>
                <p class="index index--second">STEP 8-4 ナビゲーションメニューを作成する</p>
                <p class="index index--first">9 POWER UP ARRANGE パワーアップアレンジ</p>
                <p class="index index--second">STEP 9-1 関連記事を表示する</p>
                <p class="index index--second">STEP 9-2 OGP を設定してSNSに対応する</p>
                <p class="index index--third">COLUMN FacebookのアプリIDを取得する</p>
                <p class="index index--second">STEP 9-3 SNSのシェアボタンを用意する</p>
                <p class="index index--second">STEP 9-4 トップページを固定ページで作成する</p>
                <p class="index index--second">STEP 9-5 2段組みのレイアウトに切り替える</p>
                <p class="index index--third">COLUMN カラムブロックのレスポンシブをアレンジする</p>
                <p class="index index--third">COLUMN インナーブロックの横幅</p>
                <p class="index index--first">APPENDIX</p>
                <p class="index index--second">A IE11対応</p>
                <p class="index index--third">COLUMN IE に対応していないブロックの表示</p>
                <p class="index index--second">B ブロックスタイルの追加</p>
                <p class="index index--third">COLUMN ブロックスタイルと高度な設定</p>
                <p class="index index--third">COLUMN 見出しのデザインをブロックスタイルにする</p>
                <p class="index index--third">COLUMN ブロック名を確認する</p>
                <p class="index index--second">C 再利用ブロックの活用</p>
                <p class="index index--second">D リッチテキストによる文字の色の指定</p>
                <p class="index index--third">COLUMN グーテンベルクが目指す先は?</p>                       
              </div>
            </div>
          </artcile><!-- /.content -->
  
        </div>
      </div><!-- /.container -->

    </main>

    <%- include('parts/_sidebar') %>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <%- include('parts/_body-bottom') %>

</body>

</html>