<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>git_test</title>
  <meta name="description" content="">

  <%- include('parts/_head-elements') %>
  
</head>

<body class="note">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner content__inner--column-left">
              <div class="content__box">
                
                <p class="index index--title">gulpメモ</p>
                <div class="comment">
                  <p>
                    ・「<a href="https://nodejs.org/ja" target="_blank">https://nodejs.org/ja</a>」より「Node.js（推奨版）」をダウンロード<br>
                    ・「Node.js」をインストール（すでにインストールしている場合は不要）<br>
                    <br>
                    ・VSCodeのターミナルで作業フォルダを開く<br>
                    ・VSCodeのターミナルで「<strong class="comment__strong">npm init -y</strong>」と入力し「package.json」を作成（すでに作成している場合は不要）<br>
                    <br>
                    ・VSCodeのターミナルで「npm install -D gulp」と入力しgulpプラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D sass」と入力しDartSass対応化プラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D gulp-sass」と入力しSassをコンパイルするプラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D gulp-autoprefixer」と入力しベンダープレフィックスを自動付与するプラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D gulp-cssnano」と入力しSassをミニファイ化するプラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D gulp-rename」と入力しリネームプラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D gulp-sourcemaps」と入力しソースマップを作成するプラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D gulp-uglify」と入力しJSをミニファイ化するプラグインをインストール<br>
                    ・VSCodeのターミナルで「npm install -D gulp-ejs」と入力しEJSをコンパイルするプラグインをインストール<br>
                    （「<strong class="comment__strong">npm install -D gulp sass gulp-sass gulp-autoprefixer gulp-cssnano gulp-rename gulp-sourcemaps gulp-uglify gulp-ejs</strong>」で一括インストール）<br>
                    <br>
                    ・新しいテキストファイルで「gulpfile.js」を作成、内容を他の「gulpfile.js」からコピーする<br>
                    ・新しいテキストファイルで「.browserslistrc」を作成、内容を他の「.browserslistrc」からコピーする<br>
                    <br>
                    ・VSCodeのターミナルで「<strong class="comment__strong">npx gulp</strong>」と入力しgulpを起動する
                  </p>
                </div>

              </div>
            </div>
          </artcile><!-- /.content -->
  
        </div>
      </div><!-- /.container -->

    </main>

    <%- include('parts/_sidebar') %>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <%- include('parts/_body-bottom') %>

</body>

</html>