<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>git_test</title>
  <meta name="description" content="">

  <!-- OGP -->
  <meta property="og:url" content="https://comic-school.jp/test/git_test/index.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="git_test">
  <meta property="og:description" content="harumiharutakaのtestページ">
  <meta property="og:site_name" content="comic-school">
  <meta property="og:image" content="https://comic-school.jp/test/git_test/img/no-image.jpg">
  
  <%- include('parts/_head-elements') %>
  
</head>

<body class="archive archive_js-library">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner content__inner--column-left">
              <div class="content__box">

                <div class="content__header">
                  <h3 class="content-heading-first">JSライブラリ</h3>
                </div>

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">ハンバーガー＆ドロワー</h4>
                    </div>
                    <div class="section__main">

                      <p>900px以下時のヘッダーを参照</p>

                    </div>
                  </div>
                </section><!-- /.section -->

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">ページトップ</h4>
                    </div>
                    <div class="section__main">

                      <p>右下部を参照</p>

                    </div>
                  </div>
                </section><!-- /.section -->

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">ローディング</h4>
                    </div>
                    <div class="section__main">

                      <p>ページにアクセスした1回目に表示</p>
                      <p>または<a class="js_loading_test">クリック</a>で表示</p>

                    </div>
                  </div>
                </section><!-- /.section -->

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">アコーディオン</h4>
                    </div>
                    <div class="section__main">

                      <dl class="accordion js_accordion">
                        <dt class="accordion__title">
                          <button class="accordion__button js_accordion_button" type="button">
                            テストテストテストテストテスト
                          </button>
                        </dt>
                        <dd class="accordion__body">
                          <p class="accordion__text">
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                          </p>
                          <p class="accordion__text">
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                          </p>
                        </dd>
                        <dt class="accordion__title">
                          <button class="accordion__button js_accordion_button" type="button">
                            テストテストテストテストテスト
                          </button>
                        </dt>
                        <dd class="accordion__body">
                          <p class="accordion__text">
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                          </p>
                        </dd>
                      </dl><!-- /.accordion -->

                    </div>
                  </div>
                </section><!-- /.section -->

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">タブ</h4>
                    </div>
                    <div class="section__main">

                      <div class="tab js_tab">
                        <div class="tab__inner">
                          <div class="tab__header">

                            <nav class="tab-navigation">
                              <ul class="tab-navigation__inner">
                                <li class="tab-navigation__item">
                                  <a class="tab-navigation__link js_tab-navigation_link tab-navigation__link--active">テスト</a>
                                </li>
                                <li class="tab-navigation__item">
                                  <a class="tab-navigation__link js_tab-navigation_link">テスト</a>
                                </li>
                                <li class="tab-navigation__item">
                                  <a class="tab-navigation__link js_tab-navigation_link">テスト</a>
                                </li>
                                <li class="tab-navigation__item">
                                  <a class="tab-navigation__link js_tab-navigation_link">テスト</a>
                                </li>
                              </ul>
                            </nav><!-- /.tab-navigation -->
  
                          </div>
                          <div class="tab__body">
                            <div class="tab__item tab__item--active">
                              <p>
                                テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１
                              </p>
                            </div>
                            <div class="tab__item">
                              <p>
                                テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２テキスト２
                              </p>
                            </div>
                            <div class="tab__item">
                              <p>
                                テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３テキスト３
                              </p>
                            </div>
                            <div class="tab__item">
                              <p>
                                テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４テキスト４
                              </p>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.tab -->

                      <p>「tab-navigation__link--active」のタグを「span」から「a」に変更している</p>
                      <p>「tab-navigation__link」の「href=""」を削除</p>

                    </div>
                  </div>
                </section><!-- /.section -->

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">モーダル</h4>
                    </div>
                    <div class="section__main">

                      <p><a class="js_modal_open" data-modal="js_modal_1">クリック</a>で表示</p>

                    </div>
                  </div>
                </section><!-- /.section -->

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">ドロップダウン</h4>
                    </div>
                    <div class="section__main">

                      <p>901px以上の時表示</p>

                      <ul class="dropdown js_dropdown">
                        <li class="dropdown__item">
                          <a class="dropdown__link">テスト１</a>
                        </li>
                        <li class="dropdown__item">
                          <a class="dropdown__link dropdown__link--parent">テスト２</a>
                          <ul class="dropdown__child-wrapper">
                            <li class="dropdown__child-item">
                              <a class="dropdown__child-link">２－１</a>
                            </li>
                            <li class="dropdown__child-item">
                              <a class="dropdown__child-link">２－２</a>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown__item">
                          <a class="dropdown__link dropdown__link--parent">テスト３</a>
                          <ul class="dropdown__child-wrapper">
                            <li class="dropdown__child-item">
                              <a class="dropdown__child-link dropdown__child-link--parent">３－１</a>
                              <ul class="dropdown__grandchild-wrapper">
                                <li class="dropdown__grandchild-item">
                                  <a class="dropdown__grandchild-link">３－１－１</a>
                                </li>
                                <li class="dropdown__grandchild-item">
                                  <a class="dropdown__grandchild-link">３－１－２</a>
                                </li>
                                <li class="dropdown__grandchild-item">
                                  <a class="dropdown__grandchild-link">３－１－３</a>
                                </li>
                              </ul>
                            </li>
                            <li class="dropdown__child-item">
                              <a class="dropdown__child-link">３－２</a>
                            </li>
                            <li class="dropdown__child-item">
                              <a class="dropdown__child-link dropdown__child-link--parent">３－３</a>
                              <ul class="dropdown__grandchild-wrapper">
                                <li class="dropdown__grandchild-item">
                                  <a class="dropdown__grandchild-link">３－３－１</a>
                                </li>
                                <li class="dropdown__grandchild-item">
                                  <a class="dropdown__grandchild-link">３－３－２</a>
                                </li>
                                <li class="dropdown__grandchild-item">
                                  <a class="dropdown__grandchild-link">３－３－３</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown__item">
                          <a class="dropdown__link">テスト４</a>
                        </li>
                      </ul><!-- /.dropdown -->

                    </div>
                  </div>
                </section><!-- /.section -->

                <section class="content__section section">
                  <div class="section__inner">
                    <div class="section__header">
                      <h4 class="content-heading-second">スライドショー</h4>
                    </div>
                    <div class="section__main">

                      <div class="slideshow js_slideshow">

                        <ul class="slideshow__img-wrapper">
                          <li class="slideshow__img-wrapper-item">
                            <img class="slideshow__img" src="img/number-image_1.jpg" alt="number-image_1">
                          </li>
                          <li class="slideshow__img-wrapper-item">
                            <img class="slideshow__img" src="img/number-image_2.jpg" alt="number-image_2">
                          </li>
                          <li class="slideshow__img-wrapper-item">
                            <img class="slideshow__img" src="img/number-image_3.jpg" alt="number-image_3">
                          </li>
                          <li class="slideshow__img-wrapper-item">
                            <img class="slideshow__img" src="img/number-image_4.jpg" alt="number-image_4">
                          </li>
                        </ul>

                        <button class="slideshow__angle slideshow__angle--left js_slideshow_prev"></button>
                        <button class="slideshow__angle slideshow__angle--right js_slideshow_next"></button>
                          
                        <div class="slideshow__dot-wrapper">
                          <button class="slideshow__dot js_slideshow_dot slideshow__dot--active"></button>
                          <button class="slideshow__dot js_slideshow_dot"></button>
                          <button class="slideshow__dot js_slideshow_dot"></button>
                          <button class="slideshow__dot js_slideshow_dot"></button>
                        </div>
                        
                      </div><!-- /.slideshow -->
                      
                    </div>
                  </div>
                </section><!-- /.section -->

              </div>
            </div>
          </artcile><!-- /.content -->
  
        </div>
      </div><!-- /.container -->

    </main>

    <%- include('parts/_sidebar') %>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <div class="loading loading--active js_loading">
    <div class="loading__inner">
      <div class="loading__icon"></div>
      <div class="loading__progress-bar">
        <span class="loading__bar js_loading__bar"></span>
      </div>
    </div>
  </div><!-- /.loading -->

  <div class="modal-overlay js_modal-overlay"></div>
  <div class="modal" id="js_modal_1">
    <button class="modal__close js_modal_close"></button>
    <div class="modal__body">
      <div class="modal__title">
        <h5>
          テスト
        </h5>
      </div>
      <div class="modal__text">
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>
  </div><!-- /.modal -->
  
  <%- include('parts/_body-bottom') %>

</body>

</html>