<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>git_test</title>
  <meta name="description" content="">

  <!-- OGP -->
  <meta property="og:url" content="https://comic-school.jp/test/git_test/index.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="git_test">
  <meta property="og:description" content="harumiharutakaのtestページ">
  <meta property="og:site_name" content="comic-school">
  <meta property="og:image" content="https://comic-school.jp/test/git_test/img/no-image.jpg">
  
  <%- include('parts/_head-elements') %>
  
</head>

<body class="note">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner content__inner--column-left">
              <div class="content__box">
                
                <p class="index index--title">Gitメモ</p>
                <div class="comment">
                  <p>
                    GitHub URL <a href="https://github.com/harumiharutaka/git_test.git" target="_blank">https://github.com/harumiharutaka/git_test.git</a>
                  </p>
                </div>

              </div>
            </div>
          </artcile><!-- /.content -->
  
        </div>
      </div><!-- /.container -->

    </main>

    <%- include('parts/_sidebar') %>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <%- include('parts/_body-bottom') %>

</body>

</html>